<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'events-styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'Barangay-Calumangan-Logo.png' %}">
    <title>Events</title>
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <img src="{% static 'Barangay-Calumangan-Logo.png' %}" alt="logo">
            </div>
            <h1>Barangay Calumangan Events</h1>
            <a href="{% url 'login' %}" class="logout-button">Log Out</a>
        </div>
    </header>
    <main>
        <section class="events">
            <div class="ongoing">
                <h2>Ongoing Events</h2>
                {% for event in events %}
                <div class="event">
                    <img src="{% static 'event-icon.png' %}" alt="Event">
                    <h3>{{ event.eventName }}</h3>
                    <p>Start: {{ event.start }}</p>
                    <p>End: {{ event.end }}</p>
                    <p>Location: {{ event.location }}</p>
                </div>
                {% empty %}
                    <p>No events available</p>
                {% endfor %}
                <!-- Add more ongoing events here -->
            </div>
        </section>
    </main>
</body>
