body {
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255); /* 70% transparency */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Enable horizontal scrolling */
}

header {
    background-color: rgb(33,63,154);
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    margin: 20px;
}

.events {
    display: flex;
    flex-direction: column; /* Stack events vertically */
    align-items: center; /* Center-align the events */
}

.event-container {
    display: flex;
    overflow-x: auto;
}

.ongoing, .upcoming {
    width: 100%;
}

.event {
    background-color: rgba(224, 231, 255, 0.87);
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    text-align: center;
    max-width: 300px;
    white-space: nowrap; /* Prevent text from wrapping */
    display: inline-block;
    vertical-align: top; /* Align the events at the top */
    margin-right: 10px; /* Add a gap between events */
}

.event img {
    width: 50%;
    height: auto;
}

/* Reset some default styles for the header */
/* Reset some default styles for the header */
header {
    background-color: #00529B;
    color: #fff;
    padding: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 70px;
    height: auto;
    margin-right: 10px;
}

h1 {
    font-size: 24px;
    margin: 0;
}

.logout-button {
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
}

.logout-button:hover {
    text-decoration: underline;
}


.event h3 {
    margin: 10px 0;
}

.event p {
    margin: 5px 0;
}

h2 {
    font-size: 24px;
    margin: 10px 0;
}
