body {
    background: url('background.png') no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(255, 255, 255); /* 70% transparency */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 800px;
}

.left {
    flex: 1;
    padding: 20px;
}

.left img {
    max-width: 100%;
    height: auto;
}

.right {
    flex: 1;
    padding: 20px;
    background-color: rgb(28, 41, 91);
    color: #FFF;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"], input[type="date"] {
    background: #E8F0FE;
    width: 300px;
    padding: 10px;
    border: 1px solid #FFF;
    border-radius: 5px;
}

/* CSS for the button */
button {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    background-color: rgb(255,222,0);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8CC63F;
}

/* Existing CSS */

/* New CSS for the divider and register button */
.divider {
    text-align: center;
    margin: 0; /* Adjust the margin as needed */
}

.divider p {
    font-size: 18px;
    color: white; /* Set the text color to black */
    margin: 0;
}

.register-button {
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(255,222,0);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin-top:20px; /* Add space between the buttons */
}

.register-button:hover {
    background-color: #8CC63F;
}

/* Reset default styles for better consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

